<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicação Web</title>
    <link rel="stylesheet" href="fundo.css"> 
</head>
<body>
    <div id="janela2" class="popUp-background">
        <div id="janelacadastro" class="popUp">
            <h2>Cadastro</h2>
            <form id="cadastroForm" action="/signup" method="POST">
                <input id="nomecadastro" class="janelainput" placeholder="Nome" type="text" name="name">
                <input id="emailcadastro" class="janelainput" placeholder="Email" type="text" name="email">
                <input id="senhacadastro" class="janelainput" placeholder="Senha" type="password" name="password">
                <div id="botaojanela">
                    <button id="botaocadastrar" class="botaoconta" type="submit" onclick="clicouBotaoCadastrar()">Cadastrar</button>
                    <button id="botaovoltar" class="botaoconta" onclick="clicouBotaoVoltarJanela()">Voltar</button>
                </div>    
            </form>
        </div>
    </div>
<script src="scripts.js"></script> 
</body>
</html>